<!DOCTYPE html>
<html lang="fr" class='h-100 w-100'>
@include{templates/head.html}
<body class='d-flex flex-column h-100 w-100 bg-light'>
	<div id="app" class='flex-shrink-0'> <!-- vue stuff is only inside this div. -->
		@include{templates/headers.html}
	</div>
	<div id="app2" class='w-80 px-5'>
		<div class='row'>
			<div class='col'>
				<div class='form-group row px-5'>
					<input type="checkbox" v-model="isGame" class="form-check-input">
					<label class="form-check-label" for="exampleCheck1">Vous créez un {{ isGame ? "jeu" : "article"}}</label>
				</div>
			</div>
			<div class='col'>
				<h2>Aperçu</h2>
			</div>
		</div>
		
		<div class='row'>
			<div class='col'>
				<input required type="text" class='post_title_input w-100 text-center' class="" v-model="postTitle" 
					v-bind:placeholder="'Titre '+(isGame ? 'du jeu' : 'de l\'article')"/>
			</div>
			<div class='col'>
				<h1 class='text-center'> {{ postTitle || "Titre" }}</h1>
				<div>
					Par <em>{{ d.username }}</em>
				</div>
			</div>
		</div>

		<div class='row'>
			<div class='col'>
				<markdown class='w-100' v-bind:isGame="isGame" v-model="postContent"></markdown>
			</div>
			<div class='col'>
				<div v-html="marked(escape_html(postContent),{gfm:true})"></div>
			</div>
		</div>

		<div class='row'>
			<div class='col'>
				<div class="custom-file">
					<input multiple id="fileInput" class='custom-file-input' type="file"/>
					<label class="custom-file-label">Uploader des fichiers associés à {{ isGame ? "ce jeu" : "cet article"}}</label>
				</div>
			</div>
			<div class='col'></div>
		</div>
		<br/>
		<div class='row'>
			<button class='btn btn-primary' onClick="publish();">Publier</button>
		</div>
	</div>
	<script>
		location.hash = "#new_post";
		window.onhashchange = () => {
			// go back to index.
			if(location.hash !== "#new_post"){
				location.href = location.origin + "/" + location.hash;
			}
		}
	</script>
	@include{templates/footer.html}
	<script>
		"use strict";

		let app_data2 = {};
		app_data2.isGame = false;
		app_data2.postTitle = ""; // max length = 70.
		app_data2.postContent = "";
		app_data2.d = app_data;

		const renderer = { // bootstrap friendly table.
			table:(header,body) => {
				return `<table class='table table-striped'> <thead class='thead-light'>${header}</thead> ${body}</table>`;
			},
			code: (code, language) => {
				const validLang = !!(language && hljs.getLanguage(language));

				// Highlight only if the language is valid.
				// highlight.js escapes HTML in the code, but we need to escape by ourselves
				// when we don't use it.
				const highlighted = validLang ? hljs.highlight(language, code).value : code;

				// Render the highlighted code with `hljs` class.
				return `<pre><code class="hljs ${language}">${highlighted}</code></pre>`;
			},
			image: (href,title,text) => {
				return `<img src="${href}" title="${title}"/>`;
			}
		};
		marked.use({renderer});


		let app2 = new Vue({
			el: '#app2',
			data: app_data2,
		});

		fileInput.addEventListener('change',(e) => {
			let s = [];
			for(let i = 0;i < fileInput.files.length;i++){
				s.push(fileInput.files[i].name);
			} 
			fileInput.nextElementSibling.innerHTML = s.join(',');
			
		});

		async function publish(){
			let data = await create_post(app_data2.postTitle,app_data2.postContent);
			if(data.error){
				toast("Impossible de créer l'article");
				return;
			}
			let new_post_id = data.id;
			console.log(data);
			// now if game, add metadata isGame
			// also upload the files.
			for(let i = 0;i < fileInput.files.length;i++){
				await upload_post_file(new_post_id,fileInput.files[i].name,fileInput.files[i]);
			}

			app_data.page_content = "main";
		}

	</script>
</body>
</html>