*{
	font-family:Helvetica;
}
[v-cloak] {
	display: none;
}
body,html{
	margin:0;
	padding:0;
	overflow: auto;
}
header{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:10px;
	overflow: auto;
}
button a{
	color:inherit;
	text-decoration:inherit;
}
button a:hover{
	color:inherit;
	text-decoration:inherit;
}
img{
	image-rendering:pixelated;
}
ul{
	list-style-position: inside;
}
h1{
	padding-top:5px;
}
nav{
	display:flex;
	justify-content:center;
	align-items:center;
}
header > *{
	margin:10px;
}
header > nav > h1{
	padding-right:20px;
}

.grey-bg{
	background-color:#ddd;
}

/* Computers */
.var-size {
	font-size: 1.25rem;
}

/* Phones and tablets */
@media (max-width: 768px) {
  .var-size {
    font-size: 1rem;
  }
}

nav a{
	padding-top:6px;
	transition:200ms;
	border-top:4px solid transparent;
	font-size:1.5em;
	text-transform: capitalize;
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
nav a.selected{
	color:inherit;
	border-top:4px solid #00a !important;
}
nav a:hover{
	color:inherit;
	text-decoration: none;
	border-top:4px solid #a00;
}
textarea.markdown{
	resize:none;
	width:80%;
	min-height:100px;
	overflow-y:hidden;
	font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	tab-size : 4;
}
.post_card,.game_card{
	margin:10px;
	padding:10px;
	transition:100ms;
	width:300px;
}
.game_card{
	border-left:6px solid #fd0;
}
.post_card{
	border-left:6px solid #6af;
}
.post_card:hover{
	border-left:10px solid #6af;
}
.game_card:hover{
	border-left:10px solid #fd0;
}
.post-holder{
	display:flex;
	flex-wrap:wrap;
}
table th,table td{
	text-align:left !important;
}
pre *{
	font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.post_content img{ /* Center images in posts */
	display:block;
	margin:auto;
}
.nav-item{
	margin:10px;
}
.post_title_input{
	font-size:2.5rem;
}