<!DOCTYPE html>
<html lang="fr" class='h-100 w-100'>
<head>
	<title>CStudio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="icon" href="assets/logo.png">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<meta charset="utf8"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class='d-flex flex-column h-100 w-100 bg-light'>
	<div id="app" class='flex-shrink-0'> <!-- vue stuff is only inside this div. -->
		<header>
			<h1>CStudio</h1>

			<nav>
				<header-link content="accueil" page_name="home">accueil</header-link>
				<header-link content="articles" page_name="events">articles</header-link>
				<header-link content="jeux" page_name="games">jeux</header-link>
				<header-link content="à propos" page_name="about">à propos</header-link>
				<header-link content="nouveau post" page_name="newp">nouveau post</header-link>
			</nav>

			<div>
				<button class='btn btn-primary' onclick="login();">Connexion via VR</button>
			</div>
		</header>
		<div v:if="loaded">
			<section class='container' v-if="current_page == 'home'">
				<div class="b-example-divider"></div>
				<article class='px-4 py-5 my-5 text-center bg-white'>
					<h2>Jeux récents</h2>
				</article>
				<div class="b-example-divider"></div>
				<article class='px-4 py-5 my-5 text-center bg-white'>
					<h2>Posts récents</h2>
				</article>
			</section>
			<section class='container' v-if="current_page == 'events'">
				<input type="text" placeholder="Rechercher un article"/> 
			</section>
			<section class='container' v-if="current_page == 'games'">
				<input type="text" placeholder="Rechercher un jeu"/> 
			</section>
			<section class='container' v-if="current_page == 'about'">
				<article class='px-4 py-5 my-5 text-center bg-white'>
					<img src="assets/logo.png" class='d-block mx-auto mb-4' width="200" height="200"/>
					<div class='col-lg-6 mx-auto'>
						<p class='lead mb-4'>
							Tu veux créer tes propres jeux vidéos ? ou juste jouer à des jeux ?
							Tu es au bon endroit !
							CStudio, c'est l'association de création de jeux vidéos de CentraleSupelec.
						</p>
					</div>
				</article>
				<article class='px-4 py-5 my-5 text-center bg-white'>
					<h2>Formations</h2>
					<div class='col-lg-6 mx-auto'>
						<p class='lead mb-4'>
							On propose au cours de l'année différentes formations pour que tu puisse réaliser le jeu de tes rêves.
							Tu vas ainsi découvrir de nombreuses technologies utiles au jeux vidéo et même dans d'autres contextes.
							Nous proposons par exemple des formations concernant:
						</p>
						<div style='text-align:left;'>
							<ul class='lead'>
								<li>Unity</li>
								<li>Le développement web</li>
								<li>C++</li>
								<li>OpenGL</li>
								<li>Blender</li>
							</ul>
						</div>

					</div>
				</article>
				<article class='px-4 py-5 my-5 text-center bg-white'>
					<h2>Game jam</h2>
					<div class='col-lg-6 mx-auto'>
						<p class='lead mb-4'>
							Une Game Jam, c'est une compétition où différentes personnes créent des jeux vidéos en temps limité,
							en général sur un thème donnée.
							C'est en général un moment pour apprendre plus de choses et s'amuser.
						</p>
						<p class='lead mb-4'>
							On organise plusieurs games jam au cours de l'année et on expose les résultats sur ce site,
							dans la catégorie jeux.
							Si tu as toi même déjà créer des jeux sympas et que tu veux les montrer au reste du campus, n'hésite
							pas à poster ton jeu ici ! Pour cela, contact nous sur <a href="https://t.me/joinchat/vAlxq_zTICwyY2M0">Telegram</a>
						</p>
					</div>
				</article>
				<article class='px-4 py-5 my-5 text-center bg-white'>
					<h2>Articles</h2>
					<div class='col-lg-6 mx-auto'>
						<p class='lead mb-4'>
							Tu as une connaissance à partager ou une idée de gros jeu à faire ?
							Tu peux créer un article ici pour le partager.
							Tu peux lire la documentation du site pour avoir plus d'information sur comment créer un jeu avec
							l'API de ce site où alors demande sur la conversation Telegram !
						</p>
					</div>
				</article>
			</section>


			<!-- needs login -->
			<section v-if="current_page == 'newp'">
				<div class='px-5'>
				<div class='row w-80'>
					<div class='col'>
						<h2>Article</h2>
						<textarea v-model="articleContent" class='markdown'></textarea>
					</div>
					<div class='col'>
						<h2>Aperçu</h2>
						<div class='bg-white'>
						<div v-html="marked(escape_html(articleContent))">
						</div>
						</div>
					</div>
				</div>
				</div>
			</section>

			</div>
		<div v-else>
			<div class='container text-center'>
				<i class='fa fa-spin fa-spinner'></i>
			</div>
		</div>

	</div>
	<footer class='footer mt-auto py-3 bg-dark text-light'>
	<div class='container'>
		<div class="row">
			<div class='col'>
				<div>Fait par vanyle, 2021</div>
			</div>
			<div class='col'>
				<div>
					<i class="fa fa-link fa-fw"></i>
					<a class='text-light' href='https://linkcs.fr/association/cstudio-678'>LinkCS</a>
				</div>
				<div>
					<i class="fab fa-twitter fa-fw"></i>
					<a class='text-light' href='https://twitter.com/_vanyle'>Twitter</a>
				</div>
				<div>
					<i class="fab fa-github fa-fw"></i>
					<a class='text-light' href='https://github.com/vanyle'>Github</a>
				</div>
				<div>
					<i class="fab fa-telegram fa-fw"></i>
					<a class='text-light' href='https://t.me/joinchat/vAlxq_zTICwyY2M0'>Telegram</a>
				</div>
			</div>
		</div>
	</div>
	</footer>

	<script src="Posts.js" type="text/javascript"></script>
	<script src="Layout.js" type="text/javascript"></script>
	<script>

		location.hash = location.hash || "home"; 

		function login(){
			let url = `https://auth.viarezo.fr/oauth/authorize?redirect_uri=${location.origin}/q?type=oauth&client_id=d4471fa55e31ca7552dcb28706dd4a8f39da3974&response_type=code&state=truc&scope=default`;
			location.href = url;
		}

		function escape_html(r){
			let d = document.createElement('div');
			d.innerText = r;
			return d.innerHTML.replace(/<br>/g,"\n");
		}

		let app_data = {
			get current_page(){return location.hash.substring(1)},
			set current_page(v){location.hash = v;},
			loaded: false,
			articleContent: ""
		};
		let app = new Vue({
			el: '#app',
			data: app_data
		});

		app_data.loaded = true;
	</script>

</body>
</html>