<section v-if="page_content === 'posts'" class='container'>

	<div v-if="show_post !== -1">
		<button class='btn btn-danger' v-on:click="show_post = -1"><i class='fa fa-times fa-fw'></i>Fermer</button>
		<h1 class='text-center'>{{ current_post.title }}</h1>
		<div>
			Par <em>{{ current_post.author }}</em>, le {{ current_post.date }}
		</div>
		<div v-html="marked(escape_html(current_post.content))"></div>
	</div>
	<div v-else>
		<input type="text" v-on:keyup="onSearchPosts" id="search_input" placeholder="Rechercher un article"/>
		<div v-if="loading">
			<i class='fa fa-spinner fa-spin'></i>
		</div>
		<post v-else v-bind:post="post" v-for='post in posts'></post>
	</div>
</section>
<script>
	"use strict";
	window['app_data'] = window['app_data'] || {};
	app_data.posts = [
		
	];
	app_data.loading = false;
	app_data.show_post = -1;
	app_data.current_post = {
		title:"",
		content:"",
		date:"",
		author:"",
	};

	function onSearchPosts(){
		let v = search_input.value;
		app_data.loading = true;
		setTimeout(function(){
			if(v == search_input.value){
				load_posts(v);
			}
		},200);
	}
	async function showPost(post_id){
		console.log("showPost.",post_id);
		let post = await get_post(post_id);
		app_data.page_content = "posts";
		app_data.show_post = post_id;
		app_data.current_post.title = post.title;
		app_data.current_post.content = post.content;
		app_data.current_post.author = post.author;
		app_data.current_post.date = new Intl.DateTimeFormat(['ban','fr']).format(new Date(post.date));
	}

	async function load_posts(query){
		let results = await search_posts(query);
		console.log(results);
		app_data.posts = results;
		app_data.loading = false;
	}
</script>