<section v-if="page_content === 'about'" class='container'>
		<article class='px-4 py-5 my-5 text-center bg-white'>
			<img src="assets/logo.png" class='d-block mx-auto mb-4' width="200" height="200"/>
			<div class='col-lg-6 mx-auto'>
				<p class='lead mb-4'>
					Tu veux créer tes propres jeux vidéos ? ou juste jouer à des jeux ?
					Tu es au bon endroit !
					CStudio, c'est l'association de création de jeux vidéos de CentraleSupelec.
				</p>
			</div>
		</article>
		<article class='px-4 py-5 my-5 text-center bg-white'>
			<h2>Formations</h2>
			<div class='col-lg-6 mx-auto'>
				<p class='lead mb-4'>
					On propose au cours de l'année différentes formations pour que tu puisse réaliser le jeu de tes rêves.
					Tu vas ainsi découvrir de nombreuses technologies utiles au jeux vidéo et même dans d'autres contextes.
					Nous proposons par exemple des formations concernant:
				</p>
				<div style='text-align:left;'>
					<ul class='lead'>
						<li>Unity</li>
						<li>Le développement web</li>
						<li>C++</li>
						<li>OpenGL</li>
						<li>Blender</li>
					</ul>
				</div>

			</div>
		</article>
		<article class='px-4 py-5 my-5 text-center bg-white'>
			<h2>Game jam</h2>
			<div class='col-lg-6 mx-auto'>
				<p class='lead mb-4'>
					Une Game Jam, c'est une compétition où différentes personnes créent des jeux vidéos en temps limité,
					en général sur un thème donnée.
					C'est en général un moment pour apprendre plus de choses et s'amuser.
				</p>
				<p class='lead mb-4'>
					On organise plusieurs games jam au cours de l'année et on expose les résultats sur ce site,
					dans la catégorie jeux.
					Si tu as toi même déjà créer des jeux sympas et que tu veux les montrer au reste du campus, n'hésite
					pas à poster ton jeu ici ! Pour cela, contact nous sur <a href="https://t.me/joinchat/vAlxq_zTICwyY2M0">Telegram</a>
				</p>
			</div>
		</article>
		<article class='px-4 py-5 my-5 text-center bg-white'>
			<h2>Articles</h2>
			<div class='col-lg-6 mx-auto'>
				<p class='lead mb-4'>
					Tu as une connaissance à partager ou une idée de gros jeu à faire ?
					Tu peux créer un article ici pour le partager.
					Tu peux lire la documentation du site pour avoir plus d'information sur comment créer un jeu avec
					l'API de ce site où alors demande sur la conversation Telegram !
				</p>
			</div>
		</article>
	</section>