<section v-if="page_content === 'my'">
	<div class='px-5'>
	<div class='row w-80'>
		<div class='col'>
			<h2>Mes articles</h2>
			<button class='btn btn-primary'><i class='fa fa-fw fa-plus'></i>Nouvel article</button>
		</div>
		<div class='col'>
			<h2>Mes jeux</h2>
			<button class='btn btn-primary'><i class='fa fa-fw fa-plus'></i>Nouveau jeu</button>
		</div>
	</div>
	</div>
</section>
<script>
	window['app_data'] = window['app_data'] || {};
	window['app_data'].articleContent = "";
</script>
