<footer class='footer mt-auto py-3 bg-dark text-light'>
<div class='container'>
	<div class="row">
		<div class='col'>
			<div>Fait par vanyle, 2021</div>
		</div>
		<div class='col'>
			<div>
				<i class="fa fa-link fa-fw"></i>
				<a class='text-light' href='https://linkcs.fr/association/cstudio-678'>LinkCS</a>
			</div>
			<div>
				<i class="fa fa-twitter fa-fw"></i>
				<a class='text-light' href='https://twitter.com/_vanyle'>Twitter</a>
			</div>
			<div>
				<i class="fa fa-github fa-fw"></i>
				<a class='text-light' href='https://github.com/vanyle'>Github</a>
			</div>
			<div>
				<i class="fa fa-telegram fa-fw"></i>
				<a class='text-light' href='https://t.me/joinchat/vAlxq_zTICwyY2M0'>Telegram</a>
			</div>
		</div>
	</div>
	<script src="common.js"></script>
</div>
</footer>