<section v-if="page_content === 'posts'" class='container bg-white px-4 py-4'>

	<div v-if="show_post !== -1">
		<button class='btn btn-secondary' v-on:click="show_post = -1"><i class='fa fa-times fa-fw'></i>Fermer</button>
		<h1 class='text-center'>{{ current_post.title }}</h1>
		<div>
			Par <em>{{ current_post.author }}</em>, le {{ current_post.date }}
		</div>
		<div class='post_content' v-html="marked(escape_html(current_post.content),{gfm:true})"></div>
		
		<div class='mx-2 my-2 text-center' v-if="current_post.files.indexOf('main.js') != -1">
			<a class='lead' v-bind:href="`/game.html?id=${show_post}`">Jouer au jeu associé à cet article</a>
		</div>

		<div v-if="current_post.scores.length !== 0">
			<!-- leaderboard -->
			<h2>Meilleurs scores</h2>
			<table class='table'>
				<thead>
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Score</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="score in current_post.scores">
						<th scope="col">{{score.name}}</th>
						<th scope="col">{{score.value}} points</th>
					</tr>
				</tbody>
			</table>
		</div>

		<hr/>

		<div class='mx-2 my-2'>
			<div v-if="current_post.files.length > 0">
				<div>Fichiers associés à cet article</div>
				<div class='my-2' v-bind:key="file.id" v-for="file in current_post.files">
					<a v-bind:href="`q/get_post_file?post_id=${show_post}&file=${file}`">
						{{ file }}
					</a>
					<span class='px-1' v-if="user_id == current_post.author_id">
						<button class='btn btn-warning btn-sm' v-bind:data-filename="file" v-on:click="removeFileFromPost">
							<i class='fa fa-trash fa-fw'></i> Supprimer ce fichier
						</button>
					</span>
				</div>
			</div>

			<div v-if="current_post.files.length == 0" class='my-2'>
				Aucun fichier associé à cet article
			</div>

			<div v-if="user_id == current_post.author_id" class='w-100 row'>
				<div class="custom-file w-50 mx-2">
					<input multiple type='file' v-on:change="updateInputField" id="fileInput" class='custom-file-input'/>
					<label class="custom-file-label">Uploader un fichier</label>
				</div>
				<button v-on:click="addFilesToPost" class='btn btn-primary'>
					<i class='fa fa-plus'></i> Ajouter un fichier
				</button>
			</div>
		</div>

		<div class='my-3' v-if="user_id == current_post.author_id || rank >= 3">
			<button v-on:click="deleteCurrentPost" class='btn btn-danger'><i class='fa fa-trash fa-fw'></i>Supprimer cet article</button>
		</div>
	</div>
	<div v-else>
		<input class="form-control" type="text" v-on:keyup="onSearchPosts" id="search_input" placeholder="Rechercher un article"/>
		<div class='text-center lead' v-if="loading">
			<i class='fa fa-spinner fa-spin'></i>
		</div>
		<div v-else class='post-holder'>
			<post v-bind:post="post" v-bind:key="post.id" v-for='post in posts'></post>
			<div v-if="posts.length == 0">
				Aucun article trouvé
			</div>
		</div>
	</div>
</section>
<script>
	"use strict";
	window['app_data'] = window['app_data'] || {};
	app_data.posts = [];
	app_data.loading = false;
	app_data.show_post = -1;
	app_data.current_post = {
		title:"",
		content:"",
		date:"",
		author:"",
		files:[],
		scores:[]
	};

	function onSearchPosts(){
		let v = search_input.value;
		app_data.loading = true;
		setTimeout(function(){
			if(v == search_input.value){
				load_posts(v);
			}
		},200);
	}
	function updateInputField(e){
		let fileInput = e.target;
		let s = [];
		for(let i = 0;i < fileInput.files.length;i++){
			s.push(fileInput.files[i].name);
		} 
		fileInput.nextElementSibling.innerHTML = s.join(',');		
	}
	async function addFilesToPost(){
		for(let i = 0;i < fileInput.files.length;i++){
			await upload_post_file(app_data.show_post,fileInput.files[i].name,fileInput.files[i]);
		}
		fileInput.value = ""; // reset field.
		
		let files = await list_post_file(app_data.show_post);
		app_data.current_post.files = files;
	}

	async function deleteCurrentPost(){
		try{
			let result = await remove_post(app_data.show_post);
			// update post list
			load_posts("");
			app_data.show_post = -1;
			app_data.page_content = "my";
		}catch(err){
			toast("Impossible de supprimer ce post");
		}
	}
	async function removeFileFromPost(e){
		let filename = e.srcElement.getAttribute('data-filename');
		try{
			await remove_post_file(app_data.show_post,filename);
		}catch(err){
			toast("Impossible de supprimer ce fichier.");
		}
		let files = await list_post_file(app_data.show_post);
		app_data.current_post.files = files;
	}
	async function showPost(post_id){
		let post = null;
		try{
			post = await get_post(post_id);
		}catch(err){
			// invalid post.
			app_data.show_post = -1;
			return;
		}
		app_data.page_content = "posts";
		app_data.show_post = post_id;
		app_data.current_post.author_id = post.author_id;
		app_data.current_post.title = post.title;
		app_data.current_post.content = post.content;
		app_data.current_post.author = (await get_user_name(post.author_id))[0].name;
		app_data.current_post.date = new Intl.DateTimeFormat(['ban','fr']).format(new Date(post.date));

		app_data.current_post.scores = (await list_by_game_score(post_id))

		// retreive files associated to the current post:
		let files = await list_post_file(post_id);
		app_data.current_post.files = files;
	}

	async function load_posts(query){
		let results = [];
		if(app_data.rank >= 1){
			results = await list_by_title2_post(query);
		}else{
			results = await list_by_title_post(query);
		}
		app_data.posts = results;
		app_data.loading = false;
	}

	addEventListener('user_ready', () => {
		load_posts("");
	});


	const renderer = { // bootstrap friendly table.
		table:(header,body) => {
			return `<table class='table table-striped'> <thead class='thead-light'>${header}</thead> ${body}</table>`;
		},
		code: (code, language) => {
			const validLang = !!(language && hljs.getLanguage(language));

			// Highlight only if the language is valid.
			// highlight.js escapes HTML in the code, but we need to escape by ourselves
			// when we don't use it.
			const highlighted = validLang ? hljs.highlight(code,{language:language}).value : code;

			// Render the highlighted code with `hljs` class.
			return `<pre><code class="hljs ${language}">${highlighted}</code></pre>`;
		}
	};
	marked.use({renderer});

</script>