<section v-if="page_content === 'main'" class='container'>
	<article class='px-4 py-4 text-center bg-white'>
		<h2>Articles et jeux récents</h2>

		<div class='post-holder'>
			<post v-bind:post="post" v-for='post in recent_posts'></post>
			<div v-if="recent_posts.length == 0">
					Aucun article trouvé
			</div>
		</div>

	</article>
</section>
<script>
	"use strict";
	window['app_data'] = window['app_data'] || {};
	app_data.recent_posts = [];

	async function loadRecentPosts(storage){
		let result = [];
		if(app_data.rank >= 1){
			result = await list_by_date2_post();
		}else{
			result = await list_by_date_post();
		}
		app_data.recent_posts = result;
	}
	addEventListener('user_ready', () => {
		loadRecentPosts();
	});
</script>